<!-- <p>content-proj works!</p> -->


<!-- ContentDemoComponent: Demonstrating content projection -->
<!-- <div class="demo-header">
    <ng-content select="[demo-header]"></ng-content>
</div>
  
  <div class="demo-main">
    <ng-content></ng-content>
  </div>
  
  <div class="demo-footer">
    <ng-content select="[demo-footer]"></ng-content>
  </div>  -->

  <div class="content-box">
    <h3>📦 Projected Content Below:</h3>
    <ng-content></ng-content>   <!--comment this to see the effect-->
  </div>
  